body {
	background-color: #f8f9fa;
}

form .form-control, form .form-select {
	margin-bottom: 1rem;
}

.task-item {
	border-left-width: 5px;
}

.priority-Low { border-left-color: #198754; } /* Green */
.priority-Medium { border-left-color: #ffc107; } /* Yellow */
.priority-High { border-left-color: #dc3545; } /* Red */

.task-completed h5,
.task-completed p {
	text-decoration: line-through;
	color: #6c757d;
}
